body {
    margin:0px;
    background-color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, san-serif;
    color: #222;
}

h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 3px;
    background-color:#2bbefa;
}

h1 .small {
    font-size: 0.4em;
}

h1 a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    color: #444;
}

h2.line {
    border-bottom: 1px dashed #bbb;
}

h3 {
    color: #444;
    font-weight: lighter;
}

h3.small {
    color: #444;
    font-weight: lighter;
    font-size:1.0em;
    font-weight:bold;
    cursor: pointer;
}

a {
    color: #2bbefa;
    font-weight: lighter;
}

.text, ol li {
    font-size:0.9em;
    line-height:22px;
}

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}

.code {
    font-family:monospace;
    /*padding:1px;
    border:1px solid #ddd;
    background-color:#eee;*/
    font-size:1.2em;
}

div.note {
    border:1px solid #ddd;
    background-color:#efefef;
    padding:10px;
    border-radius:10px;
    font-style:italic;
}

table.reference {
    /*border:1px solid #dedede;*/
    font-size:0.9em;
    width:100%;
}

table.reference tr td {
    padding-top:10px;
    padding-bottom:20px;
    border-bottom:1px solid #dedede;
    vertical-align:top;
    font-weight: lighter;
}

table.reference tr th {
    text-align:left;
    vertical-align:top;
}

.download {
    float: right;
}

hr {
    border: 0;
    width: 80%;
    border-bottom: 1px solid #aaa
}

.footer {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
}

div.directoryPath {
    margin-top:-3px;
    border:1px solid #dedede;
    padding:1px;
    margin-bottom:3px;
    font-family:monospace;
}

ul.nav {
    padding-left:15px;
}

ul.nav, ul.nav ul.subnav {
    list-style-type:none;
}

ul.nav ul.subnav {
    padding-left:10px;
}

ul.nav ul.subnav li {
    font-size:0.8em;
    font-weight:lighter;
    cursor: pointer;
}

#header {
    height:50px;
    margin:0px;
    clear:both;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:1000;
    box-shadow: 0px 3px 8px #999;
    /* url repeat left top */
    background-color:rgba(49,66,97,0.9);
}

#header .logo {
    margin-left: 15px;
    margin-top:8px;
    cursor:pointer;
}

#content {
    margin-top:55px;
}

.screens {
    margin-top:10px;
}

#sidebar {
    float: left;
    width: 240px;
    padding-top: 50px;
    overflow-y:auto;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    background-color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, san-serif;
    color: #222;
}

#container {
    width: 75%; /*width: 700px;*/
    float: left;
    padding: 0px 20px 20px 20px;
    overflow-y:auto;
    position:relative;
    margin-left:240px;
}

#container h1:first-child {
    margin-top:13px;
}

span.navlink {
    color: #2bbefa;
    font-weight: lighter;
    cursor: pointer;
}

.syntax-container {
    padding-left:0px !important;
    padding-right:0px !important;
}

.syntax.plain {
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
}

td ul {
    margin-left: 0px;
}