<h1>Search</h1>

<h2 class="line"><%= numResults %> results for '<%= searchString %>'</h2>

<div id="searchResults">
    <h3>M.LabelView</h3>
    <p class="text">
        ... of the basic views of the UI library of The-M-Project. Though it is not rendered ...
    </p>
    <span class="navlink" onclick="scroll('top')">&rarr; goto</span>

    <h3>M.ButtonView</h3>
    <p class="text">
        ... clickable area, that <span class="highlight">displays</span> a text value and mostly ...
    </p>
    <span class="navlink" onclick="scroll('top')">&rarr; goto</span>
</div>