<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.ButtonView</h1>

    <div class="directoryPath">
        modules/ui/button.js
    </div>

    <!-- remove unused links -->
    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
    <span class="navlink" onclick="scroll('screens')">Screenshots</span> &#183;
    <span class="navlink" onclick="scroll('properties')">Properties</span> &#183;
    <span class="navlink" onclick="scroll('methods')">Methods</span> &#183;
    <span class="navlink" onclick="scroll('example')">Example</span> &#183;
    <span class="navlink" onclick="scroll('css')">CSS Styles</span>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        The button view is one of the basic views of the UI library of The-M-Project. Though it is not rendered as the
        typical HTML-based button you might know if you are a web developer, its functionality is pretty much the same.
        A button view is a tappable / clickable area, that displays a text value and mostly will be used to trigger a
        certain action.
    </p>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->
<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>

    <div class="screens">
        <img src="images/views/screen_buttonview_1.png" alt="M.ButtonView"/>
        <img src="images/views/screen_buttonview_2.png" alt="M.ButtonView"/>
    </div>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">value</span></td>
            <td>recommended</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>Defines the value of the button. This value is displayed as the button's text.</td>
        </tr>
        <tr>
            <td><span class="code">isIconOnly</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>Determines whether the button is only displayed as an icon, without a text value.</td>
        </tr>
        <tr>
            <td><span class="code">hyperlinkType</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>This property can be used to specify a certain hyperlink type for this button. It only works in combination with the <span class="code">hyperlinkTarget</span> property.</td>
        </tr>
        <tr>
            <td><span class="code">hyperlinkTarget</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>This property can be used to specify a hyperlink target for this button. It only works in combination with the <span class="code">hyperlinkType</span> property.</td>
        </tr>
        <tr>
            <td><span class="code">isActive</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>Determines whether this button is active or not. Note, that this property is only used if the button is part of a button group (<span class="code">M.ButtonGroupView</span>).</td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF PROPERTIES -->

<!-- PUBLIC METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>
    <!--
        IF NO PUBLIC METHODS AVAILABLE, INSERT THIS AND DELETE THE TABLE:
        <p class="text">There are no public methods available. <br />

        ELSE LEAVE THIS TABLE:
    -->
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:35%;">Parameters</th>
            <th style="width:10%;">Return Type</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">setValue</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">value</span> (String): The button's new value.
                    </li>
                </ul>
            </td>
            <td></td>
            <td>This method can be used to set the button's value at runtime.
                It updates both the <span class="code">value</span> property and the button's visual representation.
            </td>
        </tr>
    </table>
    
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF METHODS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

    <p class="text">
        As described, there are several properties available for configuring a button. The following examples show how
        to use them properly.
    </p>
    
    <ol>
            <li>
                Specifiy a simple button with a value.
<pre class="syntax javascript">
M.ButtonView.design({
    value: 'myButton'
});
</pre>
            </li>
            <li>
                Specify a button with a value and an icon.
<pre class="syntax javascript">
M.ButtonView.design({
    value: 'myButton',
    icon: 'grid'
});
</pre>
                This configuration will create a button that has a text value and a icon at its left side. Since The-M-Project
                usese jQuery Mobile for the UI, the following icons are available: <span class="code">plus</span>, <span class="code">minus</span>, <span class="code">delete</span>, <span class="code">arrow-r</span>, <span class="code">arrow-l</span>, <span class="code">arrow-u</span>, <span class="code">arrow-d</span>, <span class="code">check</span>, <span class="code">gear</span>, <span class="code">refresh</span>, <span class="code">forward</span>, <span class="code">back</span>, <span class="code">grid</span>, <span class="code">star</span>, <span class="code">alert</span>, <span class="code">info</span>, <span class="code">home</span> and <span class="code">search</span>.
                <br/>
                <img src="images/views/screen_buttonview_icons.png" alt="M.ButtonView - Icons"/>
            </li>
            <li>
                Specify a method (as an object), that will be executed within the <span class="code">window</span> scope.
<pre class="syntax javascript">
M.ButtonView.design({
    value: 'myButton',
    events: {
        tap: {
            action: function() {
                alert('Hello World');
        }
    }
});
</pre>
            </li>
        </ol>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EXAMPLE -->

<!-- CSS STYLES -->
<div class="contentCss">
    <a name="css"><h2 class="line">CSS Styles</h2></a>

    <p class="text">
        
    </p>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF CSS -->