<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.ConfirmDialogView</h1>

    <div class="directoryPath">
        modules/ui/dialogs/confirm_dialog.js
    </div>

    <a href="javascript:;" onclick="scroll('basics')">Basics</a> &#183;
    <a href="javascript:;" onclick="scroll('screens')">Screenshots</a> &#183;
    <a href="javascript:;" onclick="scroll('properties')">Properties</a> &#183;
    <a href="javascript:;" onclick="scroll('methods')">Methods</a> &#183;
    <a href="javascript:;" onclick="scroll('example')">Example</a>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        Lorem Ipsum...
    </p>

    <div class="note text">Note: Lorem Ipsum...
    </div>
    <a href="javascript:;" onclick="scroll('top')">&uarr; top</a>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->
<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>

    <!--<div class="screens">
        <img src="images/views/screen_alertdialogview.png" alt="M.AlertDialogView"/>
    </div>-->
    <a href="javascript:;" onclick="scroll('top')">&uarr; top</a>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <!--<table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Expected type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">title</span></td>
            <td>recommended</td>
            <td>String</td>
            <td style="font-family:monospace">"Alert"</td>
            <td>Defines the title of the alert dialog. The title is shown on the top of the dialog.</td>
        </tr>
        <tr>
            <td><span class="code">message</span</td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>Defines the message of the confirm dialog.</td>
        </tr>
        <tr>
            <td><span class="code">confirmButtonValue</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">"Ok"</td>
            <td>Defines the value of the button shown in the dialog.</td>
        </tr>
        <tr>
            <td><span class="code">callbacks</span></td>
            <td>optional</td>
            <td>Object</td>
            <td style="font-family:monospace"></td>
            <td>The object defining the confirm callback. This is optional. If it is passed, a sub object named <span
                    class="code">confirm</span>, defining <span class="code">target</span> and <span
                    class="code">action</span> for the callback.
            </td>
        </tr>
    </table>-->
    <a href="javascript:;" onclick="scroll('top')">&uarr; top</a>
</div>
<!-- END OF PROPERTIES -->

<!-- METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>

    <!--<p class="text">There are no public methods available. <br/>
        Showing the dialog is done with the method <span class="code">alert</span> of <span
                class="code">M.DialogView</span>
        and hiding the dialog is automatically performed by pressing the rendered button of the dialog.</p>-->
    <a href="javascript:;" onclick="scroll('top')">&uarr; top</a>
</div>
<!-- END OF METHODS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

    <!--<p class="text">
        The object to make the call on is M.DialogView. It encapsulates the creation of a dialog and its show up and
        hide. You find a complete example of a M.AlertDialogView
        with a callback for pressing the confirm button.</p>
<pre>
<code class="javascript">
    M.DialogView.alert({
    title: 'No Connection',
    message: 'No Connection available. Request failed.'
    confirmButtonValue: 'Sad.',
    callbacks: {
    confirm: {
    target: myApp.myController,
    action: function() {
    console.log('Sad.');
    }
    }
    }
    });
</code>
</pre>-->
    <a href="javascript:;" onclick="scroll('top')">&uarr; top</a>
</div>
<!-- END OF EXAMPLE -->