<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.DatePickerView</h1>

    <div class="directoryPath">
        A touch-optimized and cross-platform date picker based on mobiscroll.
    </div>

    <!-- remove unused links -->
    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
    <span class="navlink" onclick="scroll('screens')">Screenshots</span> &#183;
    <span class="navlink" onclick="scroll('properties')">Properties</span> &#183;
    <span class="navlink" onclick="scroll('methods')">Methods</span> &#183;
    <span class="navlink" onclick="scroll('events')">Events</span> &#183;
    <span class="navlink" onclick="scroll('example')">Example</span> &#183;
    <span class="navlink" onclick="scroll('css')">CSS Styles</span>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        A date picker is a special view, that can be called out of a controller. It is shown as a date
        picker popup, based on the mobiscroll library. You can either connect a date picker with an
        existing view and automatically pass the selected date to the source's value property, or you
        can simply use the date picker to select a date, return it to the controller (respectively the
        callback) and handle the date by yourself.
    </p>

    <div class="note">
        Note: If you plan on using HTML5's date input type, you should stick with
        <span class="navlink" onclick="loadArticle('views/m_textfieldview');">M.TextFieldView</span> instead.
    </div>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->
<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>

    <div class="screens">
            <img src="images/views/screen_datepickerview_1.png" alt="M.DatePickerView" />
            <img src="images/views/screen_datepickerview_2.png" alt="M.DatePickerView" />
    </div>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">callbacks</span></td>
            <td>optional</td>
            <td>Object</td>
            <td style="font-family:monospace"></td>
            <td>
                This property can be used to specify several callbacks for the date picker view. There are three types of callbacks available:
                <ul>
                    <li>
                        <span class="code">before</span><br/>
                        This callback gets called, right before the date picker is shown. It passes along two parameters:
                        <ul>
                            <li><span class="code">value</span>: The initial date of the date picker, formatted as a string</li>
                            <li><span class="code">date</span>: The initial date of the date picker as d8 object</li>
                        </ul>
                    </li>
                    <li>
                        <span class="code">confirm</span><br/>
                        This callback gets called, when a selected date was confirmed. It passes along two two parameters:
                        <ul>
                            <li><span class="code">value</span>: The initial date of the date picker, formatted as a string</li>
                            <li><span class="code">date</span>: The initial date of the date picker as d8 object</li>
                        </ul>
                    </li>
                    <li>
                        <span class="code">cancel</span><br/>
                        This callback gets called, when the cancel button is hit. It doesn't pass any parameters.
                    </li>
                </ul>
                Setting up one of those callbacks works the same as with other controls of The-M-Project. You simply have to specify an object containing a target function, e.g.:
<pre class="syntax javascript">callbacks: {
    confirm: {
        target: this,
        action: 'dateSelected'
    },
    cancel: {
        action: function() {
            // do something
        }
    }
}</pre>
            </td>
        </tr>
        <tr>
            <td><span class="code">cancelButtonValue</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">Cancel</td>
            <td>
                <p class="test">
                    This property can be used to specify the label of the date picker's cancel button. By default
                    it shows 'Cancel'.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">confirmButtonValue</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">Ok</td>
            <td>
                <p class="test">
                    This property can be used to specify the label of the date picker's confirm button. By default
                    it shows 'Ok'.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">endYear</span></td>
            <td>recommended</td>
            <td>Number</td>
            <td style="font-family:monospace">current + 20</td>
            <td>
                <p class="test">
                    This property can be used to specify the last year of the 'year' scroller. By default, this
                    will be set to 20 years after the current year.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">dateFormat</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">M dd, yy</td>
            <td>
                <p class="test">
                    This property can be used to customize the date format of the date picker. This is important
                    if you use the date picker on a valid source since the date picker will then automatically
                    push the selected date/datetime to the 'value' property of the source - based on this format.
                    <br/><br/>
                    The possible keys:
                </p>
                    <ul>
                        <li>m: month (without leading zero)</li>
                        <li>mm: month (two-digit)</li>
                        <li>M: month name (short)</li>
                        <li>MM: month name (long)</li>
                        <li>d: day (without leading zero)</li>
                        <li>d: day (two digit)</li>
                        <li>D: day name (short)</li>
                        <li>DD: day name (long)</li>
                        <li>y: year (two digit)</li>
                        <li>yy: year (four digit)</li>
                    </ul>
            </td>
        </tr>
        <tr>
            <td><span class="code">dateFormatMonthOnly</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">MM yy</td>
            <td>
                <p class="test">
                    This property can be used to customize the date format of the date picker if it is associated
                    with a text input with the type 'month'. It works the same as the dateFormat property.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">dateOrder</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">Mddyy</td>
            <td>
                <p class="test">
                    This property determines the order and formating of the date scrollers. The following keys
                    are possible:
                </p>
                    <ul>
                        <li>m : month (without leading zero</li>
                        <li>mm: month (two-digit</li>
                        <li>M : month name (short</li>
                        <li>MM: month name (long</li>
                        <li>d : day (without leading zero</li>
                        <li>d : day (two digit</li>
                        <li>y : year (two digit</li>
                        <li>yy: year (four digit</li>
                    </ul>
            </td>
        </tr>
        <tr>
            <td><span class="code">dayLabel</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">Day</td>
            <td>
                <p class="test">
                    This property specified the label shown above of the 'day' scroller.
                </p>

                <div class="note">
                    Note: This label is only shown if the 'showLabels' property is set to YES.
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="code">dayNames</span></td>
            <td>optional</td>
            <td>Array</td>
            <td style="font-family:monospace">['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']</td>
            <td>
                <p class="test">
                    This property specifies a list of full day names.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">dayNamesShort</span></td>
            <td>optional</td>
            <td>Array</td>
            <td style="font-family:monospace">['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']</td>
            <td>
                <p class="test">
                    This property specifies a list of short day names.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">hoursLabel</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">Hours</td>
            <td>
                <p class="test">
                    This property specified the label shown above of the 'hours' scroller.
                </p>

                <div class="note">
                    Note: This label is only shown if the 'showLabels' property is set to YES.
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="code">initialDate</span></td>
            <td>optional</td>
            <td>String|Object</td>
            <td style="font-family:monospace"></td>
            <td>
                <p class="test">
                    This property can be used to specify the initial date for the date picker. If you use
                    the date picker without a source, this date is always picked as the initial date. If
                    nothing is specified, the current date will be displayed.
                </p>

                <p class="test">
                    If you use the date picker with a valid source, the initial date is picked as long as
                    there is no valid date available by the source. Once a date was selected and assigned
                    to the source, this is taken as initial date the next time the date picker is opened.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">minutesLabel</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">Minutes</td>
            <td>
                <p class="test">
                    This property specified the label shown above of the 'minutes' scroller.
                </p>

                <div class="note">
                    Note: This label is only shown if the 'showLabels' property is set to YES.
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="code">monthLabel</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">Month</td>
            <td>
                <p class="test">
                    This property specified the label shown above of the 'month' scroller.
                </p>

                <div class="note">
                    Note: This label is only shown if the 'showLabels' property is set to YES.
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="code">monthNames</span></td>
            <td>optional</td>
            <td>Array</td>
            <td style="font-family:monospace">['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']</td>
            <td>
                <p class="test">
                    This property specifies a list of full month names.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">monthNamesShort</span></td>
            <td>optional</td>
            <td>Array</td>
            <td style="font-family:monospace">['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']</td>
            <td>
                <p class="test">
                    This property specifies a list of short month names.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">seconds</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>
                <p class="test">
                    This property can be used to activate the seconds wheel on a time/date-time picker.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">showAmPm</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">YES</td>
            <td>
                <p class="test">
                    You can use this property to enable or disable the AM/PM scroller. If set to NO,
                    the date picker will use the 24h format.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">showDatePicker</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">YES</td>
            <td>
                <p class="test">
                    This property can be used to specify whether to show scrollers for picking a date or not.
                </p>

                <div class="note">
                    Note: If both this and the 'showTimePicker' property are set to NO, no date picker will
                    be shown.
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="code">showLabels</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">YES</td>
            <td>
                <p class="test">
                    This property can be used to specify whether or not to show labels above of the scrollers.
                    If set to YES, the labels specified with the '...Label' properties are displayed above of
                    the corresponding scroller.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">showTimePicker</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">YES</td>
            <td>
                <p class="test">
                    This property can be used to specify whether to show scrollers for picking a time or not.
                </p>

                <div class="note">
                    Note: If both this and the 'showDatePicker' property are set to NO, no date picker will
                    be shown.
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="code">source</span></td>
            <td>optional</td>
            <td>String|Object</td>
            <td style="font-family:monospace"></td>
            <td>
                <p class="test">
                    This property is used to link the date picker to a source. You can either pass the DOM id of
                    the corresponding source or the javascript object itself. Linking the date picker directly
                    to a source results in automatic value updates of this source.
                </p>

                <div class="note">
                    Note: Valid sources need to provide a setValue() method.
                </div>

                <p class="test">
                    If you do not pass a source, the date picker isn't linked to any view. It simply returns the
                    selected value/date to given callbacks. So you can call the date picker out of a controller
                    and handle the selected date all by yourself.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">startYear</span></td>
            <td>recommended</td>
            <td>Number</td>
            <td style="font-family:monospace">current - 20</td>
            <td>
                <p class="test">
                    This property can be used to specify the first year of the 'year' scroller. By default, this
                    will be set to 20 years before the current year.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">stepHour</span></td>
            <td>optional</td>
            <td>Number</td>
            <td style="font-family:monospace">1</td>
            <td>
                <p class="test">
                    This property can be used to specify the steps between hours in the time / date-time picker.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">stepMinute</span></td>
            <td>optional</td>
            <td>Number</td>
            <td style="font-family:monospace">1</td>
            <td>
                <p class="test">
                    This property can be used to specify the steps between minutes in the time / date-time picker.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">stepSecond</span></td>
            <td>optional</td>
            <td>Number</td>
            <td style="font-family:monospace">1</td>
            <td>
                <p class="test">
                    This property can be used to specify the steps between seconds in the time / date-time picker.
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="code">timeFormat</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">h:ii A</td>
            <td>
                <p class="test">
                    This property can be used to customize the time format of the date picker. This is important if
                    you use the date picker on a valid source since the date picker will then automatically push
                    the selected time/datetime to the 'value' property of the source - based on this format.
                    <br/><br/>
                    The possible keys:
                </p>
                    <ul>
                        <li>h: hours (without leading zero, 12h format</li>
                        <li>hh: hours (two-digit, 12h format</li>
                        <li>H: hours (without leading zero, 24h format</li>
                        <li>HH: hours (two-digit, 24h format</li>
                        <li>i: minutes (without leading zero</li>
                        <li>ii: minutes (two-digit</li>
                        <li>A: AM/PM</li>
                    </ul>
            </td>
        </tr>
        <tr>
            <td><span class="code">useSourceDateAsInitialDate</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">YES</td>
            <td>
                <p class="test">
                    This property can be used to determine whether to use the data source's value as initial date
                    or not. If there is no source specified, this property is irrelevant.
                </p>

                <div class="note">
                    Note: If there is a source specified and this property is set to NO, the 'initialDate' property
                    will be used anyway if there is no date value available for the source!
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="code">yearLabel</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">Year</td>
            <td>
                <p class="test">
                    This property specified the label shown above of the 'year' scroller.
                </p>

                <div class="note">
                    Note: This label is only shown if the 'showLabels' property is set to YES.
                </div>
            </td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF PROPERTIES -->

<!-- PUBLIC METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>
    <!--
        IF NO PUBLIC METHODS AVAILABLE, INSERT THIS AND DELETE THE TABLE:
        <p class="text">There are no public methods available.</p>

        ELSE LEAVE THIS TABLE:
    -->
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:30%;">Parameters</th>
            <th style="width:15%;">Return Type</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">show</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">obj</span> (Object): An object containing all the configuration parameters for the date picker, based on its available properties.
                    </li>
                </ul>
            </td>
            <td></td>
            <td>
                This method is the only important method of a date picker view for 'the outside world'. From within
                an application, simply call this method and pass along an object, containing all the properties
                you want to set, different from default.
            </td>
        </tr>
    </table>
    
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF METHODS -->


<!-- PUBLIC EVENTS -->
<div class="contentEvents">
    <a name="events"><h2 class="line">Events</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:30%;">Passed Properties</th>
            <th style="width:50%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">before</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">value</span> (String): The initial date of the date picker, formatted as a string.
                    </li>
                    <li>
                        <span class="code">date</span> (Object): The initial date of the date picker as d8 object.
                    </li>
                </ul>
            </td>
            <td>
                This callback gets called, right before the date picker is shown.
            </td>
        </tr>
        <tr>
            <td><span class="code">cancel</span></td>
            <td></td>
            <td>
                This callback gets called, when the cancel button is hit. It doesn't pass any parameters.
            </td>
        </tr>
        <tr>
            <td><span class="code">confirm</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">value</span> (String): The initial date of the date picker, formatted as a string.
                    </li>
                    <li>
                        <span class="code">date</span> (Object): The initial date of the date picker as d8 object.
                    </li>
                </ul>
            </td>
            <td>
                This callback gets called, when a selected date was confirmed.
            </td>
        </tr>
    </table>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EVENTS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

    <p class="text">
        The following sample shows how to display a date picker with a text field view as its source. The call
        should be done out of a controller of your application.
    </p>
<pre class="syntax javascript">M.DatePickerView.show({
    source: M.ViewManager.getView('mainPage', 'myTextField')
    initialDate: D8.create('30.04.1985 10:30')
});</pre>

    <p class="text">
        This sample shows how to use the date picker view without a source. As you can see, we handle
        the picked date within the <span class="code">confirm</span> callback instead of having it
        automatically linked with a view as shown in the sample above.
    </p>
<pre class="syntax javascript">M.DatePickerView.show({
    initialDate: D8.create('30.04.1985 10:30'),
    callbacks: {
        confirm: {
            target: this,
            action: function(value, date) {
                // do something...
            }
        }
    }
});</pre>

    <p class="text">
        The last sample shows how to make extensive use of the various properties of
        the date picker view.
    </p>
<pre class="syntax javascript">M.DatePickerView.show({
    initialDate: D8.create('30.04.1985 10:30'),
    confirmButtonValue: 'Save',
    dayNamesShort: ['S', 'M', 'T', 'W', 'Th', 'F', 'Sa'],
    showDatePicker: NO,
    startYear: 1950,
    endYear: 2020,
    callbacks: {
        confirm: {
            target: this,
            action: function(value, date) {
                // do something...
            }
        }
    }
});</pre>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EXAMPLE -->

<!-- CSS STYLES -->
<div class="contentCss">
    <a name="css"><h2 class="line">CSS Styles</h2></a>

    <p class="text">
        No CSS classes are added to the LabelView by default.
        Style it by passing classes to it via the <span class="code">cssClass</span>
        property.
    </p>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF CSS -->