<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.DialogView</h1>

    <div class="directoryPath">
        The wrapper view for alert, confirm and action sheet dialogs.
    </div>

    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        The dialog view is a wrapper view for alert, confirm and action sheet dialogs. Within an application
        this view is used to initialize the concrete dialogs. Since those views are well documented, we decided
        not to write it all down in here again. So please check the concrete dialog view for further information
        and some code samples:

        <ul>
            <li>
                <span class="code">M.ActionSheetDialog</span> A dialog that offers multiple options to the user. <a class="navlink" href="#views/m_actionsheetdialogview">[Read more]</a>
            </li>
            <li>
                <span class="code">M.AlertDialogView</span> A dialog for showing alerts or information boxes. <a class="navlink" href="#views/m_alertdialogview">[Read more]</a>
            </li>
            <li>
                <span class="code">M.ConfirmDialogView</span> A dialog that can be used to let the user confirm something. <a class="navlink" href="#views/m_confirmdialogview">[Read more]</a>
            </li>
        </ul>
    </p>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->