<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.GridView</h1>

    <div class="directoryPath">
        A layout component for arranging views in a grid.
    </div>

    <!-- remove unused links -->
    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
    <span class="navlink" onclick="scroll('screens')">Screenshots</span> &#183;
    <span class="navlink" onclick="scroll('properties')">Properties</span> &#183;
    <span class="navlink" onclick="scroll('methods')">Methods</span> &#183;
    <span class="navlink" onclick="scroll('example')">Example</span> &#183;
    <span class="navlink" onclick="scroll('css')">CSS Styles</span>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        The <span class="code">M.GridView</span> is a component, that allows you to display several views horizontally aligned.
        Therefore you can either use a predefined layout or you can provide a custom layout.
    </p>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->
<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>

    <div class="screens">
        <!--
            IMAGE FILES HERE
            <img src="images/views/screen_alertdialogview.png" alt="M.AlertDialogView" />
        -->
    </div>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">layout</span></td>
            <td>mandatory</td>
            <td>Object</td>
            <td style="font-family:monospace">null</td>
            <td>
                The layout for the grid view. There are two predefined layouts available:
                <br/>- M.TWO_COLUMNS<br/>&nbsp;&nbsp;&nbsp;a two column layout, width: 50% / 50%
                <br/>- M.THREE_COLUMNS<br/>&nbsp;&nbsp;&nbsp;a three column layout, width: 33% / 33% / 33%
                <br/>- M.FOUR_COLUMNS<br/>&nbsp;&nbsp;&nbsp;a four column layout, width: 25% / 25% / 25%
                <br/><br/>To specify your own layout, you will have to implement some css classes and
                then define your layout like:
                <br/><br/><span class="code">
                    cssClass: 'cssClassForWholeGrid',
                    <br/>columns: {
                        <br/>&nbsp;&nbsp;&nbsp;&nbsp;0: 'cssClassForColumn1',
                        <br/>&nbsp;&nbsp;&nbsp;&nbsp;1: 'cssClassForColumn2',
                        <br/>&nbsp;&nbsp;&nbsp;&nbsp;2: 'cssClassForColumn3',
                        <br/>&nbsp;&nbsp;&nbsp;&nbsp;3: 'cssClassForColumn4',
                        <br/>&nbsp;&nbsp;&nbsp;&nbsp;//........
                    <br/>}
                </span>
            </td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF PROPERTIES -->

<!-- PUBLIC METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>
    <!--
        IF NO PUBLIC METHODS AVAILABLE, INSERT THIS AND DELETE THE TABLE:
        <p class="text">There are no public methods available. <br />

        ELSE LEAVE THIS TABLE:
    -->
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:30%;">Parameters</th>
            <th style="width:15%;">Return Type</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code"><!-- METHOD NAME --></span></td>
            <td><!-- METHOD PARAMETERS --></td>
            <td><!-- RETURN TYPE --></td>
            <td><!-- METHOD DESCRIPTION --></td>
        </tr>
    </table>
    
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF METHODS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

    <p class="text">
        <!-- TEXT THAT DESCRIBES THE EXAMPLE AND GIVES ADDITIONAL HINTS -->
    </p>
<pre>
<code class="javascript">
    <!-- THE EXAMPLE CODE  -->
    <!--
<pre class="syntax javascript">
test function() {
    alert('blabla');
}</pre>
    -->
</code></pre>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EXAMPLE -->

<!-- CSS STYLES -->
<div class="contentCss">
    <a name="css"><h2 class="line">CSS Styles</h2></a>

    <p class="text">
        
    </p>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF CSS -->