<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.ListItemView</h1>

    <div class="directoryPath">
        modules/ui/list_item.js
    </div>

    <!-- remove unused links -->
    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
    <span class="navlink" onclick="scroll('screens')">Screenshots</span> &#183;
    <span class="navlink" onclick="scroll('properties')">Properties</span> &#183;
    <span class="navlink" onclick="scroll('methods')">Methods</span> &#183;
    <span class="navlink" onclick="scroll('example')">Example</span> &#183;
    <span class="navlink" onclick="scroll('css')">CSS Styles</span>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        <!-- TEXT DESCRIBING THE BASICS -->
    </p>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->
<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>

    <div class="screens">
        <!--
            IMAGE FILES HERE
            <img src="images/views/screen_alertdialogview.png" alt="M.AlertDialogView" />
        -->
    </div>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Expected type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code"><!-- PROPERTY NAME --></span></td>
            <td><!-- PROPERTY RELEVANCE: optional, recommended or mandatory --></td>
            <td><!-- TYPE OF THE PROPERTY --></td>
            <td style="font-family:monospace"><!-- DEFAULT VALUE OF THE PROPERTY (if there's one) --></td>
            <td><!-- PROPERTY DESCRIPTION --></td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF PROPERTIES -->

<!-- PUBLIC METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>
    <!--
        IF NO PUBLIC METHODS AVAILABLE, INSERT THIS AND DELETE THE TABLE:
        <p class="text">There are no public methods available. <br />

        ELSE LEAVE THIS TABLE:
    -->
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:35%;">Parameters</th>
            <th style="width:10%;">Return Type</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code"><!-- METHOD NAME --></span></td>
            <td><!-- METHOD PARAMETERS --></td>
            <td><!-- RETURN TYPE --></td>
            <td><!-- METHOD DESCRIPTION --></td>
        </tr>
    </table>
    
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF METHODS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

    <p class="text">
        <!-- TEXT THAT DESCRIBES THE EXAMPLE AND GIVES ADDITIONAL HINTS -->
    </p>
<pre>
<code class="javascript">
    <!-- THE EXAMPLE CODE  -->
    <!--
<pre class="syntax javascript">
test function() {
    alert('blabla');
}
</pre>
    -->
</code>
</pre>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EXAMPLE -->

<!-- CSS STYLES -->
<div class="contentCss">
    <a name="css"><h2 class="line">CSS Styles</h2></a>

    <p class="text">
        
    </p>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF CSS -->