<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.ListView</h1>

    <div class="directoryPath">
        The basic UI component to list data. Uses ListItems to define the look.
    </div>

    <!-- remove unused links -->
    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
    <span class="navlink" onclick="scroll('screens')">Screenshots</span> &#183;
    <span class="navlink" onclick="scroll('properties')">Properties</span> &#183;
    <span class="navlink" onclick="scroll('methods')">Methods</span> &#183;
    <span class="navlink" onclick="scroll('example')">Example</span> &#183;
    <span class="navlink" onclick="scroll('css')">CSS Styles</span>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        M.ListView is the prototype of any list view. It is used to display static or dynamic content as vertically aligned list items (M.ListItemView). A list view provides some easy to use helper method, e.g. an out-of-the-box delete view for items.
    </p>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->
<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>

    <div class="screens">
        <!-- IMAGE FILES HERE-->
        	
            <img src="images/views/screen_list_default.png" alt="M.ListView Default" />
            <p class="text">M.ListView with isCountedList set to YES</p><img src="images/views/screen_list_counted.png" alt="M.ListView with isCountedList set to YES" />
            <p class="text">A complex M.ListView</p><img src="images/views/screen_list_complex.png" alt="A complex M.ListView" />
            <p class="text">M.ListView with has hasSearchBar set to YES</p><img src="images/views/screen_list_searchbar_default.png" alt="M.ListView with has hasSearchBar set to YES" />
            <p class="text">M.ListView with a custom searchBar</p><img src="images/views/screen_list_searchbar_custom.png" alt="M.ListView with a custom searchBar" />
            <p class="text">M.ListView with isDividedList set to YES</p><img src="images/views/screen_list_segmented.png" alt="M.ListView with isDividedList set to YES" />
            <p class="text">M.ListItemView with isSelectable set to NO</p><img src="images/views/screen_list_nonselectable.png" alt="M.ListItemView with isSelectable set to NO" />
    </div>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">removeItemsOnUpdate</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">YES</td>
            <td>Determines whether to remove all item if the list is updated or not.</td>
        </tr>
        <tr>
            <td><span class="code"><!-- PROPERTY NAME --></span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>Determines whether to display the list as a divided list or not.</td>
        </tr>
        <tr>
            <td><span class="code">cssClassForDivider</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>If the list view is a divided list, this property can be used to customize the style of the list's dividers.</td>
        </tr>
        <tr>
            <td><span class="code">isCountedList</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>Determines whether to display the the number of child items for each list item view.</td>
        </tr>
        <tr>
            <td><span class="code">cssClassForCounter</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace"><!-- DEFAULT VALUE OF THE PROPERTY (if there's one) --></td>
            <td>If the list view is a counted list, this property can be used to customize the style of the list item's counter.</td>
        </tr>
        <tr>
            <td><span class="code">isNumberedList</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>Defines if the ListView is rendered with prefixed numbering for each item.</td>
        </tr>
        <tr>
            <td><span class="code">listItemTemplateView</span></td>
            <td>mandatory</td>
            <td>M.ListItemView</td>
            <td style="font-family:monospace"><!-- DEFAULT VALUE OF THE PROPERTY (if there's one) --></td>
            <td>This property contains the list view's template view, the blueprint for every child view.</td>
        </tr>
        <tr>
            <td><span class="code">isInset</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>Determines whether to display the list view 'inset' or at full width.</td>
        </tr>
        <tr>
            <td><span class="code">searchBar</span></td>
            <td>optional</td>
            <td>Object</td>
            <td style="font-family:monospace"><!-- DEFAULT VALUE OF THE PROPERTY (if there's one) --></td>
            <td>The list view's search bar.</td>
        </tr>
        <tr>
            <td><span class="code">hasSearchBar</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>Determines whether or not to display a search bar at the top of the list view.</td>
        </tr>
        <tr>
            <td><span class="code">usesDefaultSearchBehaviour</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace"><!-- DEFAULT VALUE OF THE PROPERTY (if there's one) --></td>
            <td>If the hasSearchBar property is set to YES, this property determines whether to use the built-in simple search filters or not. If set to YES, the list is simply filtered on the fly according to the entered search string. Only list items matching the entered search string will be visible.<br /><br />If a custom search behaviour is needed, this property must be set to NO.</td>
        </tr>
        <tr>
            <td><span class="code">searchBarInitialText</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">'Search...'</td>
            <td>If the hasSearchBar property is set to YES and the usesDefaultSearchBehaviour is set to YES, this property can be used to specify the inital text for the search bar. This text will be shown as long as nothing else is entered into the search bar text field.</td>
        </tr>
        <tr>
            <td><span class="code">onSearchStringDidChange</span></td>
            <td>optional</td>
            <td>Object</td>
            <td style="font-family:monospace"><!-- DEFAULT VALUE OF THE PROPERTY (if there's one) --></td>
            <td>An object containing target and action to be triggered if the search string changes.</td>
        </tr>
        <tr>
            <td><span class="code">idName</span></td>
            <td>recommended</td>
            <td>String</td>
            <td style="font-family:monospace"><!-- DEFAULT VALUE OF THE PROPERTY (if there's one) --></td>
            <td>An optional String defining the id property that is passed in view as record id</td>
        </tr>
        <tr>
            <td><span class="code">cssClass</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>
                This property can be used to set CSS classes for the List.
            </td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF PROPERTIES -->

<!-- PUBLIC METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>
    <!--
        IF NO PUBLIC METHODS AVAILABLE, INSERT THIS AND DELETE THE TABLE:
        <p class="text">There are no public methods available.</p>

        ELSE LEAVE THIS TABLE:
    -->
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:30%;">Parameters</th>
            <th style="width:15%;">Return Type</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">removeAllItems</span></td>
            <td><!-- METHOD PARAMETERS --></td>
            <td><!-- RETURN TYPE --></td>
            <td>This method removes all of the list view's items by removing all of its content in the DOM. This method is based on jQuery's empty().</td>
        </tr>
        <tr>
            <td><span class="code">addItem</span></td>
            <td>{String} item The html representation of a list item to be added.</td>
            <td><!-- RETURN TYPE --></td>
            <td>This method adds a new list item to the list view by simply appending its html representation to the list view inside the DOM. This method is based on jQuery's append().</td>
        </tr>
        <tr>
            <td><span class="code">toggleRemove</span></td>
            <td>{Object} options The options for the remove button.</td>
            <td><!-- RETURN TYPE --></td>
            <td>This method activates the edit mode and forces the list view to re-render itself and to display a remove button for every list view item.</td>
        </tr>
        <tr>
            <td><span class="code">setActiveListItem</span></td>
            <td>{String} listItemId The id of the list item to be set active.</td>
            <td><!-- RETURN TYPE --></td>
            <td>This method activates a list item by applying the default 'isActive' css style to its 	DOM representation.</td>
        </tr>
        <tr>
            <td><span class="code">resetActiveListItem</span></td>
            <td>{String} listItemId The id of the list item to be set active.</td>
            <td><!-- RETURN TYPE --></td>
            <td>This method resets the list by applying the default css style to its currently activated list item.</td>
        </tr>
    </table>
    
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF METHODS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

    <p class="text">
        <!-- TEXT THAT DESCRIBES THE EXAMPLE AND GIVES ADDITIONAL HINTS -->
    </p>
<pre class="syntax javascript">
//Include the file which defines the template (MyApp.MyListTemplate)
m_require('app/views/list_view_template.js');
M.PageView.design({
		//the List View
		M.ListView.design({
	
		    listItemTemplateView: MyApp.MyListTemplate,
		
	    	contentBinding: 'MyApp.MyController.listObject',
	    	
	    	idName: 'name'
	
	});
});
</pre>
    <p class="text">The list_view_template.js file:</p>
<pre class="syntax javascript">
MyApp.MyListTemplate = M.ListItemView.design({
    childViews: 'name',
    events: {
        tap: {
            target: MyApp.MyController,
            action:'listObjectClicked'
        }
    },
    name: M.LabelView.design({
        valuePattern: '<%= name %>'
    })
});
</pre>
<pre class="syntax javascript">
//a list expects an array with listItemViews
var myList = [
    {
        name: "List Item 1",
        prop: "another property"
    },
    {
        name: "List Item 2",
        prop: "another property"
    },
    {
        name: "List Item 3",
        prop: "another property"

    }
];
//you can set the list items in every Controller. Through the content binding the list view will be automatically updated
MyApp.MyController.set('listObject', myList);
</pre>
<pre class="syntax javascript">
//as first parameter you get the DOM id, second one is the nameId specified in the list view definition
MyApp.MyController = M.Controller.extend({
	listObjectClicked : function(id, nameId){
		console.log('you clicked on the list item with the DOM id:', id, 'and has the name', nameId);
	}
});
</pre>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EXAMPLE -->

<!-- CSS STYLES -->
<div class="contentCss">
    <a name="css"><h2 class="line">CSS Styles</h2></a>

    <p class="text">
        
    </p>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF CSS -->