<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.LoaderView</h1>

    <div class="directoryPath">
        Indicate a user that something is happening/gets loaded.
    </div>

    <!-- remove unused links -->
    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
    <span class="navlink" onclick="scroll('screens')">Screenshots</span> &#183;
    <span class="navlink" onclick="scroll('properties')">Properties</span> &#183;
    <span class="navlink" onclick="scroll('methods')">Methods</span> &#183;
    <span class="navlink" onclick="scroll('events')">Events</span> &#183;
    <span class="navlink" onclick="scroll('example')">Example</span> &#183;
    <span class="navlink" onclick="scroll('css')">CSS Styles</span>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        The loader view indicates a user that something is taking so much time that you need to inform him about it.
        Typically a loader view would be shown everytime a request is done, a complex operation is performed or
        maybe even if the application switches to another page. Besides showing and hiding a loader view, you can define
        the message that is displayed within the loader view.
    </p>

    <div class="note text">
        Note: By showing the loader view, an internal reference counter will be increased, by hiding the loader view, this
        counter will be decreased. We do this since it can happen, that your application fires several request at a time, but
        receives the responses asynchronously. So without this internal stack, the first response would hide the loader view
        visually event though other operations are still in progress.
    </div>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->
<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>

    <div class="screens">
        <img src="images/views/screen_loaderview.png" alt="M.LoaderView" />
    </div>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">defaultTitle</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">"loading"</td>
            <td>This property can be used to specify the default title of a loader.</td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF PROPERTIES -->

<!-- PUBLIC METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>
    <!--
        IF NO PUBLIC METHODS AVAILABLE, INSERT THIS AND DELETE THE TABLE:
        <p class="text">There are no public methods available.</p>

        ELSE LEAVE THIS TABLE:
    -->
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:30%;">Parameters</th>
            <th style="width:15%;">Return Type</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">hide</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">force</span> (Boolean): Determines whether to force the hide of the loader.
                    </li>
                </ul>
            </td>
            <td></td>
            <td>
                This method hides the loader. If the <span class="code">force</span> parameter is not set to YES, this method only
                decreases the internal reference counter. If the counter gets down to 0, the loader view visually disappears.
            </td>
        </tr>
        <tr>
            <td><span class="code">show</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">title</span> (String): The loader view's current title.
                    </li>
                </ul>
            </td>
            <td></td>
            <td>
                This method shows the default loader. You can specify the displayed label with the title parameter. By calling this
                method, the internal reference counter get increased by one.
            </td>
        </tr>
    </table>
    
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF METHODS -->


<!-- PUBLIC EVENTS -->
<div class="contentEvents">
    <a name="events"><h2 class="line">Events</h2></a>
    <p class="text">There are no events available.</p>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EVENTS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

    <p class="text">
        The only thing you can do with a loader view is to show / hide it. So the following coe snippets show how to do this:
    </p>
<pre class="syntax javascript">
/* show the loader with the default title */
M.LoaderView.show();

/* hide the loader view */
M.LoaderView.show();

/* set the loader view's default title */
M.LoaderView.defaultTitle = 'in progress...';

/* show the loader with a custom title */
M.LoaderView.show('custom message');

/* fore the loader view to hide */
M.LoaderView.hide(YES);</pre>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EXAMPLE -->

<!-- CSS STYLES -->
<div class="contentCss">
    <a name="css"><h2 class="line">CSS Styles</h2></a>

    <p class="text">
        The styling of the loader view is done by jQuery Mobile. There are three css classes responsible for the layout:</p>
    <ul class="text">
        <li><span class="code">ui-loader</span>: This defines the size and position of the loader view.</li>
        <li><span class="code">ui-body-a</span>: This defines the color and styling of the loader view.</li>
        <li><span class="code">ui-corner-all</span>: This adds round corners to the loader view.</li>
    </ul>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF CSS -->