<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.MapMarkerView</h1>

    <div class="directoryPath">
        Set markers on a map to indicate important places.
    </div>

    <!-- remove unused links -->
    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
    <span class="navlink" onclick="scroll('screens')">Screenshots</span> &#183;
    <span class="navlink" onclick="scroll('properties')">Properties</span> &#183;
    <span class="navlink" onclick="scroll('methods')">Methods</span> &#183;
    <span class="navlink" onclick="scroll('events')">Events</span> &#183;
    <span class="navlink" onclick="scroll('example')">Example</span> &#183;
    <span class="navlink" onclick="scroll('css')">CSS Styles</span>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        A map marker view defines a set of methods for adding, removing and managing the
        markers of a <span class="code">M.MapView</span>. Such a marker can be used to
        show the user of an application a certain location on a map view or the location
        of the user himself. The map marker view within The-M-Project is based on google
        maps markers.
    </p>

    <div class="note text">
        Note: Map markers can't be used stand-alone. You'll always need a map to place them
        on.
    </div>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->
<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>

    <div class="screens">
        <img src="images/views/screen_mapmarkerview.png" alt="M.MapMarkerView" />
    </div>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">data</span></td>
            <td>optional</td>
            <td>Object</td>
            <td style="font-family:monospace"></td>
            <td>
                This property can be used to store additional information about a marker. Since this property is
                an object, you can store pretty much anything in this property.<br/>
                This can be useful especially if you are using the click event for map markers. So you can store
                any information with a marker and retrieve this information on the click event.
            </td>
        </tr>
        <tr>
            <td><span class="code">isDraggable</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>
                This property specifies whether the marker is draggable or not. If set to NO, a user won't
                be able to move the marker. For further information see the google maps API
                specification: http://code.google.com/intl/en-US/apis/maps/documentation/javascript/reference.html#MarkerOptions
            </td>
        </tr>
        <tr>
            <td><span class="code">location</span></td>
            <td>recommended</td>
            <td>M.Location</td>
            <td style="font-family:monospace">
                location: M.Location.extend({
                latitude: 48.813338,
                longitude: 9.178463
                })
            </td>
            <td>
                This property specifies the location for this map marker view, as an <span class="code">M.Location</span>
                object. Its latitude and longitude properties are directly mapped to the position property of a google
                maps marker.
            </td>
        </tr>
        <tr>
            <td><span class="code">markerAnimationType</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">M.MAP_MARKER_ANIMATION_NONE</td>
            <td>
                This property can be used to specify the animation type for this map marker view. If this property
                is set, the markerAnimationType property of the parent map view is ignored. The following three
                values are possible:
                <ul>
                    <li>
                        <span class="code">M.MAP_MARKER_ANIMATION_NONE</span> --> no animation
                    </li>
                    <li>
                        <span class="code">M.MAP_MARKER_ANIMATION_DROP</span> --> the marker drops onto the map
                    </li>
                    <li>
                        <span class="code">M.MAP_MARKER_ANIMATION_BOUNCE</span> --> the marker constantly bounces
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span class="code">message</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>
                This property specifies the message of a map marker view respectively for its annotation.
            </td>
        </tr>
        <tr>
            <td><span class="code">showAnnotationOnClick</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>
                This property can be used to specify whether or not to show the annotation, if title and/or
                message are defined, automatically on click event.
            </td>
        </tr>
        <tr>
            <td><span class="code">title</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>
                This property specifies the title of a map marker view. It can be used in an annotation.
            </td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF PROPERTIES -->

<!-- PUBLIC METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>
    <!--
        IF NO PUBLIC METHODS AVAILABLE, INSERT THIS AND DELETE THE TABLE:
        <p class="text">There are no public methods available. <br />

        ELSE LEAVE THIS TABLE:
    -->
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:30%;">Parameters</th>
            <th style="width:15%;">Return Type</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">init</span></td>
            <td>
                <!-- METHOD PARAMETERS -->
                <ul class="isFirstLine">
                    <li>
                        <span class="code">options</span> (Object): The options for the map marker view.
                    </li>
                </ul>
            </td>
            <td>M.MapMarkerView</td>
            <td>
                This method initializes a map marker view. It connects a map marker directly with the parent map
                view and returns the created <span class="code">M.MapMarkerView</span> object.
                <div class="note">
                    Note: By calling this method, the map marker won't be displayed on the map. It only gets initialized
                    and can no be displayed by using the map view's <span class="code">addMarker()</span> or content binding.
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="code">remove</span></td>
            <td></td>
            <td></td>
            <td>
                This method can be used to remove a map marker from a map view.
            </td>
        </tr>
        <tr>
            <td><span class="code">showAnnotation</span></td>
            <td></td>
            <td></td>
            <td>
                This method can be used to show a map markers annotation.
            </td>
        </tr>
    </table>
    
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF METHODS -->


<!-- PUBLIC EVENTS -->
<div class="contentEvents">
    <a name="events"><h2 class="line">Events</h2></a>
    <!--
        IF NO PUBLIC EVENTS AVAILABLE, INSERT THIS AND DELETE THE TABLE:
        <p class="text">There are no events available. <br />

        ELSE LEAVE THIS TABLE:
    -->
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:30%;">Passed Properties</th>
            <th style="width:50%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">click</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">id</span> (String): The map marker's id.
                    </li>
                    <li>
                        <span class="code">event</span> (Object): The fired event.
                    </li>
                </ul>
            </td>
            <td>
                This event is fired whenever a map marker is clicked.
            </td>
        </tr>
        <tr>
            <td><span class="code">tap</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">id</span> (String): The map marker's id.
                    </li>
                    <li>
                        <span class="code">event</span> (Object): The fired event.
                    </li>
                </ul>
            </td>
            <td>
                This event is fired whenever a map marker is tapped.
            </td>
        </tr>
    </table>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EVENTS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

    <p class="text">
        The following examples show you how to use map markers in combination with a map view.
    </p>
<pre class="syntax javascript">
/* define a map inside your view */
map: M.MapView.design({
    cssClass: 'myMap',
    zoomLevel: 10,
    mapType: M.MAP_SATELLITE
})

/* refer to the map view inside your controller */
var map = M.ViewManager.getView('myPage', 'map');

/* initialize a map marker out of your controller */
var marker = M.MapMarkerView.init({
    location: M.Location.init(48.778495, 9.180951),
    map: map,
    title: 'Marker #1',
    message: 'I am marker #1. Welcome to my annotation!'
})

/* add the map marker to the map to make it visible (out of your controller) */
map.addMarker(marker);

/* show the map markers annotatio (out of your controller) */
marker.showAnnotation();

/* remove the marker again (out of your controller) */
marker.remove();</pre>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EXAMPLE -->

<!-- CSS STYLES -->
<div class="contentCss">
    <a name="css"><h2 class="line">CSS Styles</h2></a>

    <p class="text">
        There is no styling property available for map marker views. A map marker is displayed is it gets delivered by
        the Google Maps Javascript API V3.
    </p>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF CSS -->