<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.ScrollView</h1>

    <div class="directoryPath">
        modules/ui/scroll.js
    </div>

    <!-- remove unused links -->
    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
    <span class="navlink" onclick="scroll('screens')">Screenshots</span> &#183;
    <span class="navlink" onclick="scroll('properties')">Properties</span> &#183;
    <span class="navlink" onclick="scroll('methods')">Methods</span> &#183;
    <span class="navlink" onclick="scroll('example')">Example</span> &#183;
    <span class="navlink" onclick="scroll('css')">CSS Styles</span>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        The M.ScrollView is a container for the scrollable content on a single page. It should be used
        as a wrapper for any content that isn't part of a header toolbar or footer toolbar/tabbar.

        <div class="note text">
            Note: It is very important to use this view for your scrollable content since this view
            adds some important meta information to this area so jQuery Mobile recognizes it as the
            page's content area.
        </div>
    </p>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->
<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>

    <div class="screens">
        <img src="images/views/screen_scrollview_1.png" alt="M.ScrollView"/>
    </div>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
              <td><span class="code">childViews</span></td>
              <td>recommended</td>
              <td>String</td>
              <td style="font-family:monospace"><!-- DEFAULT VALUE OF THE PROPERTY (if there's one) --></td>
              <td>A string naming the child views of the scroll view. E.g.
                  <pre class="syntax javascript">childViews: 'label button textfield'</pre>
                  Those childViews have to be defined inside the definition of the scroll view, as you can see
                  within the <span class="navlink" onclick="scroll('example')">samples</span>.
              </td>
          </tr>
        <tr>
            <td><span class="code">cssClass</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>
                This property can be used to set CSS classes for the scroll view.
            </td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF PROPERTIES -->

<!-- PUBLIC METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>
    <p class="text">There are no public methods available.</p>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF METHODS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

    <p class="text">
        Although the scroll view is a very important view for an application, it is
        pretty easy to use.
    </p>

<pre class="syntax javascript">M.ScrollView.design({
    childViews: 'label button',
    cssClass: 'myScrollView',
    label: M.LabelView.design({
        value: 'My Label'
    }),
    button: M.ButtonView.design({
        value: 'My Button'
    }),
});</pre>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EXAMPLE -->

<!-- CSS STYLES -->
<div class="contentCss">
    <a name="css"><h2 class="line">CSS Styles</h2></a>

    <p class="text">
        There actually only is one relevant CSS class when using a scroll view:
    </p>

    <ul class="text">
        <li><span class="code">ui-content</span>: This CSS class defines some basic styling (especially the padding) of an application's content area.</li>
    </ul>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF CSS -->