<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.SliderView</h1>

    <div class="directoryPath">
        A touch-optimized slider view.
    </div>

    <!-- remove unused links -->
    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
    <span class="navlink" onclick="scroll('screens')">Screenshots</span> &#183;
    <span class="navlink" onclick="scroll('properties')">Properties</span> &#183;
    <span class="navlink" onclick="scroll('methods')">Methods</span> &#183;
    <span class="navlink" onclick="scroll('example')">Example</span> &#183;
    <span class="navlink" onclick="scroll('css')">CSS Styles</span>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
		The slider view renders a touch-optimized slider that can be used to set a
        number within a specified range.
    </p>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->

<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>
    <div class="screens">
        <img src="images/views/screen_sliderview_1.png" alt="M.SliderView"/>
    </div>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">isSliderOnly</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>
                This property determines whether or not to display the corresponding input of the slider. If set to NO,
                a textfield will be visible, showing the slider's current value. If set to YES, only the slider will be
                visible.
            </td>
        </tr>
        <tr>
            <td><span class="code">max</span></td>
            <td>recommended</td>
            <td>Number</td>
            <td style="font-family:monospace">100</td>
            <td>
                This property specifies the max value of the slider. The user can not set a higher value than specified
                with this property.
            </td>
        </tr>
        <tr>
            <td><span class="code">min</span></td>
            <td>recommended</td>
            <td>Number</td>
            <td style="font-family:monospace">0</td>
            <td>
                This property specifies the min value of the slider. The user can not set a lower value than specified
                with this property.
                with this property.
            </td>
        </tr>
        <tr>
            <td><span class="code">step</span></td>
            <td>optional</td>
            <td>Number</td>
            <td style="font-family:monospace">1</td>
            <td>
                This property specifies the step value of the slider.
            </td>
        </tr>
        <tr>
            <td><span class="code">value</span></td>
            <td>recommended</td>
            <td>Number</td>
            <td style="font-family:monospace">0</td>
            <td>
                This property contains the slider's value. Set this to adjust the initial value of the slider. Once the user
                moves the slider, this property gets automatically updated.
            </td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF PROPERTIES -->

<!-- PUBLIC METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>

    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:30%;">Parameters</th>
            <th style="width:15%;">Return Type</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">disable</span></td>
            <td></td>
            <td></td>
            <td>This method disables the slider so it can no longer be moved by a user.</td>
        </tr>
        <tr>
            <td><span class="code">enable</span></td>
            <td></td>
            <td></td>
            <td>This method enables the slider so it can be moved by a user.</td>
        </tr>
        <tr>
            <td><span class="code">resetSlider</span></td>
            <td></td>
            <td></td>
            <td>This method resets the slider to its initial value.</td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF METHODS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

    <p class="text">
        Setting up a slider view.
    </p>
<pre class="syntax javascript">slider: M.SliderView.design({

})</pre>

    <p class="text">
        Setting up a slider view with custom min/max value.
    </p>
<pre class="syntax javascript">slider: M.SliderView.design({
    min: -5,
    max: 5,
    value: 2
})</pre>

    <p class="text">
        Disabling the slider within a controller.
    </p>
<pre class="syntax javascript">slider = M.ViewManager.getView('myPage', 'slider');
slider.disable();</pre>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EXAMPLE -->

<!-- CSS STYLES -->
<div class="contentCss">
    <a name="css"><h2 class="line">CSS Styles</h2></a>

    <p class="text">
        The styling of the slider view is done by jQuery Mobile but refined by some TMP stuff. The following classes are relevant:</p>
    <ul class="text">
        <li><span class="code">tmp-slider-container</span>: This defines the container for the slider view.</li>
        <li><span class="code">tmp-slider-is-slider-only</span>: If the <span class="code">isSliderOnly</span> property is set to YES, this class is added to the slider.</li>
        <li><span class="code">ui-slider</span>: This defines the jQuery Mobiel default styling for slider view.</li>
    </ul>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF CSS -->