<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.TabBarView</h1>

    <div class="directoryPath">
        A convenient navigation bar as known from e.g. the iPhone.
    </div>

    <!-- remove unused links -->
    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
    <span class="navlink" onclick="scroll('screens')">Screenshots</span> &#183;
    <span class="navlink" onclick="scroll('properties')">Properties</span> &#183;
    <span class="navlink" onclick="scroll('methods')">Methods</span> &#183;
    <span class="navlink" onclick="scroll('example')">Example</span> &#183;
    <span class="navlink" onclick="scroll('css')">CSS Styles</span>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        A tab bar view is a special variant of a toolbar at the top or bottom of a page,
        that consists of up to five horizontally aligned tabs. A <span class="code">M.TabBarView</span> can be used
        as the top navigation level for an application since it is always visible an indicates
        the currently active part of the application by highlighting the corresponding tab.
    </p>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->
<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>

    <div class="screens">
        <img src="images/views/screen_tabbarview_1.png" alt="M.TabBarView" />
        <img src="images/views/screen_tabbarview_2.png" alt="M.TabBarView" />
    </div>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">anchorLocation</span></td>
            <td>recommended</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>Defines the position of the TabBar. Possible values are:
                <ul>
                    <li><span class="code">M.BOTTOM</span> => is a footer tab bar</li>
                    <li><span class="code">M.TOP</span> => is a header tab bar</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span class="code">name</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">tab_bar</td>
            <td>
                This property defines the tab bar's name. This is used internally to identify the tab bar
                inside the DOM. If your application only uses one tab bar (the typical way), there is no need
                to specify a custom name.
            </td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF PROPERTIES -->

<!-- PUBLIC METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>
    <!--
        IF NO PUBLIC METHODS AVAILABLE, INSERT THIS AND DELETE THE TABLE:
        <p class="text">There are no public methods available.</p>

        ELSE LEAVE THIS TABLE:
    -->
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:30%;">Parameters</th>
            <th style="width:15%;">Return Type</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">setActiveTab</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">tab</span> (M.TabBarItemView): The tab to set active.
                    </li>
                </ul>
            </td>
            <td></td>
            <td>
                This method visually activates / highlights a tab bar item. Of course the previously activated tab
                will automatically be deactivated before.
            </td>
        </tr>
    </table>
    
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF METHODS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

        <p class="text">
            For setting up a 3 item tab bar, add a new file to your project's view directory called e.g. 'tabs.js' and
            paste the following code. For further information about the tab bar items, see the <span class="navlink" onclick="loadArticle('views/m_tabbaritemview');">M.TabBarItemView</span>.
        </p>
<pre class="syntax javascript">TabBarSample.TabBar = M.TabBarView.design({
    childViews: 'tab1 tab2 tab3',
    anchorLocation: M.BOTTOM,
    tab1: M.TabBarItemView.design({
        value: 'Tab 1',
        page: 'page1'
    }),
    tab2: M.TabBarItemView.design({
        value: 'Tab 2',
        page: 'page2'
    }),
    tab3: M.TabBarItemView.design({
        value: 'Tab 3',
        page: 'page3'
    })
});</pre>

    <p class="text">
        Once the tab bar is set up, it needs to be added to any page you want it to be visible. But note that you will
        have to 'require' the tabs file first. So the following lines show a sample page using the above created tab
        bar.
    </p>
<pre class="syntax javascript">m_require('app/views/tabs.js');

TabBarSample.FirstPageView = M.PageView.design({
    childViews: 'header content tabBar',
    header: M.ToolbarView.design({
        value: 'Page 1'
    }),
    content: M.ScrollView.design({

    }),
    tabBar: TabBarSample.TabBar
});</pre>

    <p class="text">
        As you can see in the sample above, there are two things to do:
    </p>
    <ol>
        <li>Use the <span class="code">m_require</span> command to make sure the tab bar is loaded by JavaScript before your page's source is interpreted.</li>
    </ol>
    <ol>
        <li>Refer to the tab bar object (<span class="code">TabBarSample.TabBar</span>) for adding it as the page's tab bar.</li>
    </ol>
    <p class="text">
        All the tab activating/deactivating and switching the page/tab stuff will happen automatically, covered by the framework.
    </p>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EXAMPLE -->

<!-- CSS STYLES -->
<div class="contentCss">
    <a name="css"><h2 class="line">CSS Styles</h2></a>

    <p class="text">
        The styling of the tab bar is done by jQuery Mobile. It is pretty much the same as with the
        <span class="navlink" onclick="loadArticle('views/m_toolbarview');">M.ToolbarView</span>.
        Depending on the <span class="code">anchorLocation</span> property, some of the following css classes are
        responsible for the layout:</p>
    <ul class="text">
        <li><span class="code">ui-header / ui-footer</span>: This defines some basic layout and positioning setup for the tab bar.</li>
        <li><span class="code">ui-bar-a</span>: This class defines the color and visual style of the tab bar.</li>
        <li><span class="code">ui-header-fixed / ui-footer-fixed</span>: This indicates that the tab bar is fixed.</li>
    </ul>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF CSS -->