<!-- HEADER -->
<div class="contentHeader">
    <a name="top"></a>

    <h1>M.TextFieldView</h1>

    <div class="directoryPath">
        modules/ui/text_field_view.js
    </div>

    <!-- remove unused links -->
    <span class="navlink" onclick="scroll('basics')">Basics</span> &#183;
    <span class="navlink" onclick="scroll('screens')">Screenshots</span> &#183;
    <span class="navlink" onclick="scroll('properties')">Properties</span> &#183;
    <span class="navlink" onclick="scroll('methods')">Methods</span> &#183;
    <span class="navlink" onclick="scroll('events')">Events</span> &#183;
    <span class="navlink" onclick="scroll('example')">Example</span> &#183;
    <span class="navlink" onclick="scroll('css')">CSS Styles</span>
</div>
<!-- END OF HEADER -->


<!-- BASICS-->
<div class="contentBasics">
    <a name="basics"><h2 class="line">Basics</h2></a>

    <p class="text">
        M.TextFieldView is the prototype of any text field input view. It can be rendered as both a single
        line text field and a multiple line text field (a textbox). If it is styled as a multiple line text field,
        is has a built-in autogrow mechanism so the textfield is getting larger depending on the number of lines of
        text a user enters.
    </p>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF BASICS -->

<!-- SCREENSHOTS -->
<div class="contentScreenshots">
    <a name="screens"><h2 class="line">Screenshots</h2></a>

    <div class="screens">
        <img src="images/views/screen_textfieldview.png" alt="M.TextFieldView" />
    </div>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF SCREENSHOTS -->


<!-- PROPERTIES -->
<div class="contentProperties">
    <a name="properties"><h2 class="line">Properties</h2></a>
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Relevance</th>
            <th style="width:10%;">Type</th>
            <th style="width:20%;">Default value</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">cssClassOnInit</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>
                This property can be used to assign a special css class to the text field while the initial text is visible
                (c.p. <span class="code">initialText</span>).
            </td>
        </tr>
        <tr>
            <td><span class="code">hasMultipleLines</span></td>
            <td>optional</td>
            <td>Boolean</td>
            <td style="font-family:monospace">NO</td>
            <td>
                This property specifies whether the text field view is a simple, single-line text field or
                a text box with multiple lines.
            </td>
        </tr>
        <tr>
            <td><span class="code">initialText</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">''</td>
            <td>
                By setting this property, one can specify a initial text for a text field view. So whenever
                the text field view's value is empty (e.g. on startup or when resetting a form view), the string
                specified with this property will be shown.
                <div class="note text">Note: To give this initial text a special styling, use the <span class="code">cssClassOnInit</span>
                    property.
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="code">inputType</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace">M.INPUT_TEXT</td>
            <td>
                This property can be used to specify the input type of a text field view. Possible values are:
                <ul>
                    <li><span class="code">M.INPUT_TEXT</span> --> text input (default)</li>
                    <li><span class="code">M.INPUT_PASSWORD</span> --> password</li>
                    <li><span class="code">M.INPUT_NUMBER</span> --> number</li>
                    <li><span class="code">M.INPUT_TELEPHONE</span> --> tel</li>
                    <li><span class="code">M.INPUT_URL</span> --> url</li>
                    <li><span class="code">M.INPUT_EMAIL</span> --> email</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span class="code">label</span></td>
            <td>optional</td>
            <td>String</td>
            <td style="font-family:monospace"></td>
            <td>
                The label proeprty defines a text that is shown above or next to the textfield as a 'title'
                for the textfield. e.g. "Name:". If no label is specified, no label will be displayed.
            </td>
        </tr>
    </table>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF PROPERTIES -->

<!-- PUBLIC METHODS -->
<div class="contentMethods">
    <a name="methods"><h2 class="line">Methods</h2></a>
    <!--
        IF NO PUBLIC METHODS AVAILABLE, INSERT THIS AND DELETE THE TABLE:
        <p class="text">There are no public methods available. <br />

        ELSE LEAVE THIS TABLE:
    -->
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:30%;">Parameters</th>
            <th style="width:15%;">Return Type</th>
            <th style="width:35%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">clearValue</span></td>
            <td></td>
            <td></td>
            <td>
                This method clears the text field's value, both in the DOM and within the corresponding JS object.
            </td>
        </tr>
        <tr>
            <td><span class="code">setValue</span></td>
            <td>
                <!-- METHOD PARAMETERS -->
                <ul class="isFirstLine">
                    <li>
                        <span class="code">value</span> (String): The value to be applied to the text field view..
                    </li>
                </ul>
            </td>
            <td></td>
            <td>
                This method sets the text field's value and initiates its re-rendering.
            </td>
        </tr>
    </table>
    
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF METHODS -->


<!-- PUBLIC EVENTS -->
<div class="contentEvents">
    <a name="events"><h2 class="line">Events</h2></a>
    <!--
        IF NO PUBLIC EVENTS AVAILABLE, INSERT THIS AND DELETE THE TABLE:
        <p class="text">There are no events available. <br />

        ELSE LEAVE THIS TABLE:
    -->
    <table class="reference" cellpadding="0" cellspacing="0">
        <tr style="height:50px;">
            <th style="width:20%;">Name</th>
            <th style="width:30%;">Passed Properties</th>
            <th style="width:50%;">Description</th>
        </tr>
        <tr>
            <td><span class="code">blur</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">id</span> (String): The text field's id.
                    </li>
                    <li>
                        <span class="code">event</span> (Object): The fired event.
                    </li>
                </ul>
            </td>
            <td>
                This event is fired whenever the text field view loses the focus.
            </td>
        </tr>
        <tr>
            <td><span class="code">enter</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">id</span> (String): The text field's id.
                    </li>
                    <li>
                        <span class="code">event</span> (Object): The fired event.
                    </li>
                </ul>
            </td>
            <td>
                This event is fired when a user hits the enter button while the text field view has got the focus.
            </td>
        </tr>
        <tr>
            <td><span class="code">focus</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">id</span> (String): The text field's id.
                    </li>
                    <li>
                        <span class="code">event</span> (Object): The fired event.
                    </li>
                </ul>
            </td>
            <td>
                This event is fired whenever the text field view gets the focus.
            </td>
        </tr>
        <tr>
            <td><span class="code">keyup</span></td>
            <td>
                <ul class="isFirstLine">
                    <li>
                        <span class="code">id</span> (String): The text field's id.
                    </li>
                    <li>
                        <span class="code">event</span> (Object): The fired event.
                    </li>
                </ul>
            </td>
            <td>
                This event is fired when a user hits any button while the text field view has got the focus.
                <div class="note text">Note: By accessing the <span class="code">keyCode</span> property of the passed
                    <span class="code">event</span> object, you can get the information which key was pressed.
                </div>
            </td>
        </tr>
    </table>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EVENTS -->

<!-- EXAMPLE -->
<div class="contentExample">
    <a name="example"><h2 class="line">Example</h2></a>

    <p class="text">
        The following samples show how to use <span class="code">M.ButtonGroupView</span>.
    </p>
<pre class="syntax javascript">
/* set up a default text field view */
textfield: M.TextFieldView.design({

})

/* assign an inital text and a corresponding css class */
textfield: M.TextFieldView.design({
    initialText: 'Type something...',
    cssClassOnInit: 'initialText'
})

/* link two text fields by using content binding / content binding reverse (fully working example) */
// The View (main.js)
MyApp.app = M.Application.design({
	entryPage: 'page',

    page: M.PageView.design({
        childViews: 'content',

        content: M.ScrollView.design({
            childViews: 'textfield1 textfield2',

            textfield1: M.TextFieldView.design({
                contentBinding: {
                    target: MyApp.MyController,
                    property: 'textfieldvalue'
                },

                contentBindingReverse: {
                    target: MyApp.MyController,
                    property: 'textfieldvalue'
                }
            }),

            textfield2: M.TextFieldView.design({
                contentBinding: {
                    target: MyApp.MyController,
                    property: 'textfieldvalue'
                },

                contentBindingReverse: {
                    target: MyApp.MyController,
                    property: 'textfieldvalue'
                }
            })
        })
    })
});

// The controller
MyApp.MyController = M.Controller.extend({
    textfieldvalue: ''
});
</pre>
    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF EXAMPLE -->

<!-- CSS STYLES -->
<div class="contentCss">
    <a name="css"><h2 class="line">CSS Styles</h2></a>

    <p class="text">
        
    </p>

    <span class="navlink" onclick="scroll('top')">&uarr; top</span>
</div>
<!-- END OF CSS -->